{% extends "XRealmAppBundle:Includes:base_layout.html.twig" %}
{% form_theme form 'XRealmAppBundle:Form:fields.html.twig' %}
{% block content %}
    <h1>Neue Gruppe erstellen!</h1>
    <small>{{ "website.leadinggroups"|trans }}:</small>
    <div class="progress">
      <div class="progress-bar progress-bar-{% if leadingGroups >= maxGroups %}danger{% else %}success{% endif %}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ (leadingGroups / maxGroups * 100)|round(0, 'ceil') }}%;">
        {{ leadingGroups }} / {{ maxGroups }} 
      </div>
    </div>
    <hr />
    {% if leadingGroups >= maxGroups %}
        <div class="notification notification-info">
            {{ "message.maxgroupscreated"|trans }}
        </div>
    {% else %}
        {{ form(form) }}
    {% endif %}
{% endblock content %}